footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    font-size: 18pt;
}
footer div img {
    height: 150px;
}
footer a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
}

@media (max-width : 520px) {
    nav {
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }
    footer {
        font-size: 8pt;
    }
    footer div img {
        height: 50px;
    }
}